<!--about-->

{% extends 'base.html' %}

{% block title %}
    <title>Контакты</title>



    <script type='text/javascript'>
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>О системе</h1>
        <p>Система разрабатывается в рамках учебного проекта</p>

    </div>
    <div
            style="display:none;"
    >


        <div class="input-group">
            <span class="input-group-text">Количество</span>
            <input type="text" name="tovar_count" id="tovar_count"
                   class="form-control" value="100">
        </div>
        <div class="input-group">
            <span class="input-group-text">Цена</span>
            <input type="text" name="tovar_cost" id="tovar_cost"
                   class="form-control" value="100">
        </div>

    </div>

{% endblock %}


