<!--create-->

{% extends 'base.html' %}

{% block title %}
    <title>Добавление факультета</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Добавление факультета</h1>
        <form method="post">
            <form class="needs-validation" novalidate>

                {#Факультет#}
                <div class="form-col">
                    <div class="col-md-4 mb-2">
                        <label for="validationCustom03">Название факультета</label>
                        <input name="name" type="text" class="form-control" id="validationCustom03" placeholder="Введите название факультета"
                               required>
                        <div class="invalid-feedback">
                            Please provide a valid faculty name.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <button class="btn btn-success" type="submit">Добавить</button>
                </div>
            </form>

        </form>
    </div>

{% endblock %}
