<!--index-->

{% extends 'base.html' %}

{% block title %}
<title>Посещение студентов общежития</title>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.2.2.min.js') }}"></script>
{% endblock %}

{% block body %}
<script>
    function process(form) {
        $.ajax({
            type: "POST",
            url: "/process",
            data: $(form).serialize(),
            type: 'POST',
            success: function (response) {
                var json = jQuery.parseJSON(response)
                $('#len').html(json.len)

                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список пользователей</h1>
    <!--    <p class="lead">Зеленым цветом выделено посещение, красным уход студента из общежития</p>-->
</div>

<div class="container">

    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>Имя пользователя</th>
            <th>Тип пользователя</th>
            <th>Пароль</th>
            <th>Редактирование</th>
        </tr>
        </thead>
        <tbody>

        <div id="len">0</div>

        {% for el in data %}

        <tr>
            <form action="/process" method='post' name='form{{ el.id }}'>
                <td>{{ el.id }}</td>
                <input type="hidden" name="user_id" id="user_id" value='{{ el.id }}' id="minput"/>
                <td><input type="text" class="form-control" name="fio" id="fio" placeholder="Введите ФИО"
                           value='{{ el.login }}'>
                </td>
                <td><input type="text" class="form-control" name="fio" id="password" placeholder="Введите ФИО"
                           value='{{ el.password }}'>
                </td>
                <td>
                    <div class="form-group">
                        <select name="user_type" id="user_type" class="form-control">
                            <option selected>Администратор</option>
                            <option>Преподаватель</option>
                            <option>Студент</option>
                        </select></div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Удалить</button>
                    <button class="btn btn-success" onclick="process();">Сохранить</button>
                </td>
            </form>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}
