<!--index-->

{% extends 'base.html' %}

{% block title %}
    <title>Список кафедр</title>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.2.2.min.js') }}"></script>
{% endblock %}

{#Контент администратора#}
{% block admin %}
    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

    <div class="container">

    <table class="table table-sm">
        <form>
            <h3>Режим работы с кафедрами</h3><br>
            <h6>Новая кафедра</h6>

            {#название новой кафедры#}
            <td><input type="text" class="form-control" name="name" id="name" placeholder="Введите название"
                       value=''>
            </td>
            </tr>

            {#факультет новой кафедры#}
            <tr>
                <td>
                    <div class="form-group">
                        <select name="faculty_id" id="faculty_id" class="form-control">
                            {% for el in data.faculties %}
                                <option value={{ el.id }}>{{ el.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>

                <td colspan="2">

                    {#Кнопки редактирования#}
                    <button class="btn btn-lg btn-primary btn-block" onclick="ajax_fun(this.form,'addDepartment');">
                        Добавить
                    </button>
                </td>
            </tr>
        </form>
    </table>


    <div class="container">
        <h1 align="center">Список кафедр</h1>


        <table class="table table-striped table-sm">
            <thead>

            {#Заголовки таблицы#}
            <tr>
                <th>#</th>
                <th>Наименование кафедры</th>
                <th>Редактирование</th>
            </tr>
            </thead>
            <tbody>

            {#Содержимое таблицы#}
            {% for el in data.departments %}

                {% if el.faculty.id!=0 %}

                    <tr>
                        <td></td>
                        <td colspan="2"><h3>{{ el.faculty.name }}</h3></td>
                    </tr>

                    {% for it in el.departments %}


                        <tr id='tr{{ it.id }}'>
                            <form id='{{ it.id }}'>
                                <td>{{ it.id }}</td>
                                <input type="hidden" name="department_id" id="department_id" value='{{ it.id }}'
                                       id="minput"/>
                                <td>
                                    <input type="text" class="form-control" name="name" id="name"
                                           placeholder="Введите наименование кафедры"
                                           value='{{ it.name }}'>
                                </td>
                                <td>
                                    {#Кнопки редактирования#}
                                    <button type="button" class="btn btn-danger"
                                            onclick="ajax_delete(this.form,'deleteDepartment')">Удалить
                                    </button>
                                    <button class="btn btn-success" onclick="ajax_fun(this.form,'editDepartment');">
                                        Сохранить
                                    </button>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}

                {% endif %}

            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}


{#Контент учителя и студента#}
{% block user %}
    <div class="container">
        <h1 align="center">Список кафедр</h1>
        <table class="table table-striped table-sm">
            <thead>
            {#Заголовки таблицы#}
            <tr>
                <th>#</th>
                <th>Наименование кафедры</th>
            </tr>
            </thead>
            <tbody>
            {% for el in data.departments %}
                {% if el.faculty.id!=0 %}

                    <tr>
                        <td></td>
                        <td colspan="2"><h3>{{ el.faculty.name }}</h3></td>
                    </tr>

                    {% for it in el.departments %}
                        <tr>
                            <form id='form{{ it.id }}'>
                                <td>{{ it.id }}</td>
                                <td>
                                    {{ it.name }}
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


