<!--base-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Авторизация</title>
</head>
<body>

{#Контейнер шириной в 3 блока и выровненный по центру#}
<div class="container col-md-3 text-center">

    {#форма логина#}
    <form class="form-signin px-3 py-3 pt-md-5 " method="post">

        {#изображение#}
        <img class="mb-4" src="https://img.utdstc.com/icons/python.png:200" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>

        {#email или логин#}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required=""
               autofocus="">

        {#пароль для входа#}
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Пароль"
               required="">

        {#кнопка авторизации#}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>

        {#флеш сообщение#}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}

        {#просто название системы#}
        <p class="mt-5 mb-3 text-muted">Mini LMS©2020</p>
    </form>

</div>

</body>
