<!--index-->

{% extends 'base.html' %}

{% block title %}
    <title>{{ magaz.name }}</title>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.2.2.min.js') }}"></script>
{% endblock %}

{#Контент администратора#}
{% block admin %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">{{ magaz.name }}</h1>
        </div>
    </div>

    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    <div class="container">
        <table class="table table-sm">
            <form>
                <h3>Режим работы с товарами</h3><br>
                <h6>Новый товар</h6>
                <tr>

                    <td>
                        <div class="input-group">

                            <label class="input-group-text" for="inputGroupSelect01">Название</label>

                            <input type="text" class="form-control" name="name" id="name"
                                   placeholder="Название"
                                   value=''>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Цвет</label>
                            <select name="cvet" id="cvet" class="form-control">

                                {% for color in colors %}
                                    <option value="{{ color.id }}"

                                    > {{ color.name }}</option>

                                {% endfor %}
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Страна</label>
                            <select name="strana" id="strana" class="form-control">

                                {% for country in countries %}
                                    <option value="{{ country.id }}"
                                    > {{ country.name }}</option>
                                {% endfor %}
                            </select>
                        </div>


                    </td>

                    <td>
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Размер</label>
                            <select name="razmer" id="razmer" class="form-control">

                                {% for size in sizes %}
                                    <option value="{{ size.id }}"
                                    >Стандарт: {{ size.size_category.name }} {{ size.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>

                    <td>
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Картинка</label>
                            <input type="text" class="form-control" name="picture" id="picture"
                                   placeholder="Ссылка на изображение"
                                   value=''></div>
                    </td>

                    <td>
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Пол</label>
                            <select name="sex" id="sex" class="form-control">
                                <option value="2">Для мужчин</option>
                                <option value="1" selected>Для женщин</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" class="form-control" name="opisanie" id="opisanie" placeholder="Описание"
                               value=''>
                    </td>

                    <td>

                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Категория</label> <select
                                class="form-control" name='category_id' id="category_id">

                            {% for cat in categories %}
                                <option value="{{ cat.id }}"
                                >{{ cat.name }}</option>

                            {% endfor %}
                        </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="input-group">

                            <label class="input-group-text" for="inputGroupSelect01">Количество</label>

                            <input type="text" class="form-control" name="count" id="count"
                                   placeholder="Количество"
                                   value=''>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">

                            <label class="input-group-text" for="inputGroupSelect01">Цена</label>

                            <input type="text" class="form-control" name="cost" id="cost"
                                   placeholder="Цена"
                                   value=''>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        <input type="hidden" name="magaz_id" id="magaz_id" value='{{ magaz.id }}'
                               id="minput"/>
                        {#Кнопки редактирования#}
                        <button class="btn btn-lg btn-primary btn-block"
                                onclick="ajax_fun(this.form,'addTovarWithCost');">
                            Добавить
                        </button>
                    </td>
                </tr>
            </form>
        </table>
    </div>


    <div class="container">
        <h4 class="mb-3">Список товаров: </h4>


        {% for el in data %}

            <div name='tr{{ el.tovar.id }}' class="">


                <div
                        class="row border rounded flex-md-row mb-4 ">
                    <div class="col p-4">
                        <form id='{{ el.tovar.id }}'>
                            <input type="hidden" name="tovar_id" id="tovar_id" value='{{ el.tovar.id }}'
                                   id="minput"/>

                            <div class="input-group">
                                <span class="input-group-text">Название</span>
                                <input type="text" name="tovar_name" id="tovar_name" aria-label="Название"
                                       class="form-control" value="{{ el.tovar.name }}">
                            </div>

                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">Цвет</label>
                                <select name="cvet" id="cvet" class="form-control">

                                    {% for color in colors %}
                                        <option value="{{ color.id }}"
                                                {% if el.tovar.cvet == color.id %}
                                                selected
                                                {% endif %}
                                        > {{ color.name }}</option>

                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">Страна</label>
                                <select name="strana" id="strana" class="form-control">

                                    {% for country in countries %}
                                        <option value="{{ country.id }}"
                                                {% if el.tovar.strana == country.id %}
                                                selected
                                                {% endif %}
                                        > {{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">Размер</label>
                                <select name="razmer" id="razmer" class="form-control">

                                    {% for size in sizes %}
                                        <option value="{{ size.id }}"
                                                {% if el.tovar.razmer == size.id %}
                                                selected
                                                {% endif %}
                                        >Стандарт: {{ size.size_category.name }} {{ size.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">Категория</label>
                                <select name="category_id" id="category_id" class="form-control">

                                    {% for cat in categories %}
                                        <option value="{{ cat.id }}"
                                                {% if el.tovar.category_id == cat.id %}
                                                selected
                                                {% endif %}
                                        >{{ cat.name }}</option>

                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group">
                                <span class="input-group-text">Изображение</span>
                                <input type="text" name="picture" id="picture" aria-label="Размер"
                                       class="form-control"
                                       value="{{ el.tovar.picture }}">
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Цена</span>
                                <input type="text" name="cost" id="cost" aria-label="Размер"
                                       class="form-control"
                                       value="{{ el.cost }}">
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Количество</span>
                                <input type="text" name="count" id="count" aria-label="Размер"
                                       class="form-control"
                                       value="{{ el.count }}">
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" name="opisanie" id="opisanie"
                                       placeholder="Описание"
                                       value="{{ el.tovar.opisanie }}">
                            </div>


                            <div class="form-check form-check-inline">
                                <input
                                        {% if el.tovar.sex == 2 %}
                                            checked
                                        {% endif %}
                                            class="form-check-input" type="radio" name="sex"
                                            id="sex" value="2">
                                <label class="form-check-label" for="inlineRadio1">Для мужчин</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input
                                        {% if el.tovar.sex == 1 %}
                                            checked
                                        {% endif %}
                                            class="form-check-input" type="radio" name="sex"
                                            id="inlineRadio2" value="1">
                                <label class="form-check-label" for="inlineRadio2">Для женщин</label>
                                <input type="hidden" name="magtovar_id" id="magtovar_id"
                                       value='{{ el.id }}'/>
                            </div>


                            <div class="d-grid gap-2 d-md-block">


                                <button type="button" class="btn btn-outline-success"
                                        onclick="ajax_fun(this.form,'editTovarWithCost');">Сохранить
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                        onclick="ajax_delete(this.form,'deleteTovar')">Удалить
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ el.tovar.picture }}" width="280" height="350">
                        </svg>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

{#Контент хозяина#}
{% block owner %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">{{ magaz.name }}</h1>
        </div>
    </div>

    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>


    {% if current_user.id == magaz.user_id %}
        <div class="album py-5 bg-light">
            <div class="container">
                <h4 class="mb-3">Список товаров: </h4>
            </div>

            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    {% for el in data %}

                        <div name='tr{{ el.tovar.id }}' class="col-md-6">

                            <div class="">

                                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                    <div class="col p-4 d-flex flex-column position-static">
                                        <form id='{{ el.tovar.id }}'>

                                            <strong class="d-inline-block mb-2 text-primary">{{ el.tovar.country.name }}</strong>
                                            <h3 class="mb-0">{{ el.tovar.name }}</h3>
                                            <div class="mb-1 text-muted">{{ el.tovar.sex_name.name }} {{ el.tovar.color.name }}.
                                                Стандарт: {{ el.tovar.size.size_category.name }} {{ el.tovar.size.name }}</div>
                                            <p class="card-text mb-auto">{{ el.tovar.opisanie }}</p>
                                            <p class="card-text mb-auto">Категория: {{ el.tovar.category.name }}</p>

                                            <input type="hidden" name="tovar_id" id="tovar_id"
                                                   value='{{ el.tovar.id }}'/>

                                            <input type="hidden" name="magtovar_id" id="magtovar_id"
                                                   value='{{ el.id }}'/>

                                            <div class="input-group">
                                                <span class="input-group-text">Цена</span>
                                                <input type="text" name="cost" id="cost" aria-label="Размер"
                                                       class="form-control"
                                                       value="{{ el.cost }}">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-text">Количество</span>
                                                <input type="text" name="count" id="count" aria-label="Размер"
                                                       class="form-control"
                                                       value="{{ el.count }}">
                                            </div>

                                            <div class="input-group mb-3">

                                                <div class="d-grid gap-2 d-md-block">


                                                    <button type="button" class="btn btn-outline-success"
                                                            onclick="ajax_fun(this.form,'editTovarCost');">Сохранить
                                                    </button>
                                                    <button type="button" class="btn btn-outline-danger"
                                                            onclick="ajax_delete(this.form,'deleteTovarFromMagaz')">
                                                        Удалить
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-auto d-none d-lg-block">
                                        <img src="{{ el.tovar.picture }}" width="200" height="250">

                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>


    {% else %}
        <div class="album py-5 bg-light">
            <div class="container">
                <h4 class="mb-3">Список товаров: </h4>
            </div>

            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    {% for el in data %}
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <form id='{{ el.tovar.id }}'>

                                        <strong class="d-inline-block mb-2 text-primary">{{ el.tovar.country.name }}</strong>
                                        <h3 class="mb-0">{{ el.tovar.name }}</h3>
                                        <div class="mb-1 text-muted">{{ el.tovar.sex_name.name }} {{ el.tovar.color.name }}
                                            Стандарт: {{ el.tovar.size.size_category.name }} {{ el.tovar.size.name }}</div>
                                        <p class="card-text mb-auto">{{ el.tovar.opisanie }}</p>
                                        <p class="card-text mb-auto">Категория: {{ el.tovar.category.name }}</p>
                                        <p class="card-text mb-auto">Количество: {{ el.count }}</p>
                                        <p class="card-text mb-auto" id="cost" name="cost">Цена: {{ el.cost }}</p>
                                    </form>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <img src="{{ el.tovar.picture }}" width="200" height="250">

                                    </svg>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}







{#Контент покупателя#}
{% block buyer %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">{{ magaz.name }}</h1>
        </div>
    </div>

    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

    <div class="album py-5 bg-light">
        <div class="container">
            <h4 class="mb-3">Список товаров: </h4>
        </div>


        <div class="container">
            <form>

                <div class="input-group mb-3">
                    <input type="hidden" name="magazin_id" id="magazin_id" value='{{ magaz.id }}'/>



                    <a href="/magazin/{{ magaz.id }}&sorted_by=1" class="btn btn-outline-secondary" type="button"
                       id="button-addon2">
                        Сортировать по возрастанию
                    </a>
                    <a href="/magazin/{{ magaz.id }}&sorted_by=0" class="btn btn-outline-secondary" type="button"
                       id="button-addon2">
                        Сортировать по убыванию
                    </a>
                </div>
            </form>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for el in data %}
                    <div class="col-md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <form id='{{ el.tovar.id }}'>
                                    <strong class="d-inline-block mb-2 text-primary">{{ el.tovar.country.name }}</strong>
                                    <h3 class="mb-0">{{ el.tovar.name }}</h3>
                                    <div class="mb-1 text-muted">{{ el.tovar.sex_name.name }} {{ el.tovar.color.name }} Стандарт: {{ el.tovar.size.size_category.name }} {{ el.tovar.size.name }}</div>
                                    <p class="card-text mb-auto">{{ el.tovar.opisanie }}</p>
                                    <p class="card-text mb-auto">Категория: {{ el.tovar.category.name }}</p>
                                    <p class="card-text mb-auto">Количество: {{ el.count }}</p>
                                    <p class="card-text mb-auto">Цена: {{ el.cost }}</p>
                                    <div class="input-group mb-3">
                                        {#                                    <input type="hidden" name="tovar_id" id="tovar_id" value='{{ el.tovar.id }}'/>#}
                                        {#                                    <input type="hidden" name="magazin_id" id="magazin_id" value='{{ magaz.id }}'/>#}
                                        <input type="hidden" name="magazinhastovar_id" id="magazinhastovar_id"
                                               value='{{ el.id }}'/>

                                        <button onclick="ajax_fun(this.form,'addOrder');"
                                                class="btn btn-outline-secondary" type="button" id="button-addon2">
                                            Заказать
                                        </button>


                                    </div>
                                </form>

                            </div>

                            <div class="col-auto d-none d-lg-block">
                                <img src="{{ el.tovar.picture }}" width="200" height="250">

                                </svg>

                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}