<!--about-->

{% extends 'base.html' %}

{% block title %}
    <title>Поиск</title>



    <script type='text/javascript'>

        function ajax_getdata(form, processUrl) {
            $.ajax(
                {
                    data: $(form).serialize(),
                    type: 'POST',
                    url: '/' + processUrl
                })
                .done(function (data) {

                    if (data.error) {
                        console.log("error")

                        {#$('#errorAlert').text(data.error).show();#}
                        {#$('#successAlert').hide();#}
                    } else {
                        var Table = document.getElementById("mytable");
                        buffer = ""
                        if (data.success.length > 0) {
                            $('#errorAlert').text(data.error).hide();

                            $('#search_results').show();

                            for (var i = 0; i < data.success.length; i++) {
                                console.log(data.success[i])

                                buffer = buffer + "<tr><td>" + data.success[i] + "</td></tr>";
                            }
                            Table.innerHTML = buffer
                        } else {
                            $('#search_results').hide();
                            $('#errorAlert').text('Нет результатов').show();
                        }
                    }

                });
            event.preventDefault();
        }

        function ajax_getSelectedData(form, processUrl) {
            $.ajax(
                {
                    data: $(form).serialize(),
                    type: 'POST',
                    url: '/' + processUrl
                })
                .done(function (data) {

                    if (data.error) {

                        {#$('#errorAlert').text(data.error).show();#}
                        {#$('#successAlert').hide();#}
                    } else {
                        var select = document.getElementById("second");

                        if (data.success.length > 0) {

                            buffer = ""
                            for (var i = 0; i < data.success.length; i++) {
                                console.log(data.success[i])
                                buffer = buffer + "<option " + data.success[i] + "</option>";
                            }
                            select.innerHTML = buffer
                        } else {
                            select.innerHTML = ''
                        }
                    }
                });
            event.preventDefault();
        }

    </script>
{% endblock %}

{% block body %}
    <div class="container">

        <form>

            <div class="input-group">


                <input type="text" class="form-control" name="search" id="search"
                       placeholder="Введите имя товара"
                       value=''>

                    <select class="form-control" name='type' id="type"
                            onchange="ajax_getSelectedData(this.form,'getSelectedData')">
                        <option selected value="-1">Не выбрано</option>
                        <option value="1"
                        >Категории
                        </option>
                        <option value="2"
                        >Цвет
                        </option>
                        <option value="3"
                        >Пол
                        </option>
                        <option value="4"
                        >Страна
                        </option>
                    </select>
                    <select class="form-control" name='second' id="second">
                    </select>


                <button onclick="ajax_getdata(this.form,'getData');"
                        class="btn btn-outline-secondary" type="button" id="button-addon2">
                    Поиск
                </button>
            </div>
        </form>

        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>


        <div class="album py-5 bg-light" ID="search_results"
             style="display: none;"

        >
            <div class="container"><h4 class="mb-3">Список товаров: </h4></div>
            <div class="container">
                <div id="mytable" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                </div>
            </div>
        </div>

    </div>

    </div>
{% endblock %}

