<!--index-->

{% extends 'base.html' %}

{% block title %}
    <title>Список пользователей системы</title>
    <script>
        function edit_user(form) {
            $.ajax(
                {
                    data: $(form).serialize(),
                    type: 'POST',
                    url: '/editUser'
                })
                .done(function (data) {

                    if (data.error) {
                        $('#errorAlert').text(data.error).show();
                        $('#successAlert').hide();
                    } else {
                        $('#successAlert').text(data.success).show();
                        $('#errorAlert').hide();
                    }

                });
            event.preventDefault();
        }

        function delete_user(form) {
            $.ajax(
                {
                    data: $(form).serialize(),
                    type: 'POST',
                    url: '/deleteUser'
                })
                .done(function (data) {
                    console.log('#' + form.id)

                    if (data.error) {
                        $('#errorAlert').text(data.error).show();
                        $('#successAlert').hide();
                    } else {
                        $('#successAlert').text(data.success).show();
                        $('#tr' + form.id).hide();
                        $('#errorAlert').hide();
                    }

                });
            event.preventDefault();
        }


        function add_user(form) {
            $.ajax(
                {
                    data: $(form).serialize(),
                    type: 'POST',
                    url: '/addUser'
                })
                .done(function (data) {
                    console.log('#' + form.id)

                    if (data.error) {
                        $('#errorAlert').text(data.error).show();
                        $('#successAlert').hide();
                    } else {
                        $('#successAlert').text(data.success).show();
                        $('#errorAlert').hide();
                    }

                });
            event.preventDefault();
        }


    </script>
{% endblock %}



{#Контент администратора#}
{% block admin %}
    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    <div class="container">

        <table class="table table-sm">
            <form>
                <h3>Режим работы с пользователями</h3><br>
                <h6>Новый пользователь</h6>
                <tr>
                    <td>
                        <input type="text" class="form-control" name="login" id="login"
                               placeholder="Введите email"
                               value=''>
                    </td>
                    <td><input type="text" class="form-control" name="password" id="password"
                               placeholder="Введите пароль"
                               value=''>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" name="fio" id="fio" placeholder="Введите ФИО"
                               value=''>
                    </td>
                    <td>
                        <div class="form-group">
                            <select name="user_type" id="user_type" class="form-control">
                                <option value="0">Администратор</option>
                                <option value="1">Преподаватель</option>
                                <option value="2" selected>Студент</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        {#Кнопки редактирования#}
                        <button class="btn btn-lg btn-primary btn-block" onclick="add_user(this.form);">Добавить
                        </button>
                    </td>
                </tr>
            </form>
        </table>


        <table class="table table-striped table-sm">
            <thead>

            {#Заголовки таблицы#}
            <tr>
                <th>#</th>
                <th>Имя пользователя</th>
                <th>Тип пользователя</th>
                <th>Редактирование</th>
            </tr>
            </thead>
            <tbody>

            {#Содержимое таблицы#}
            {% for el in data %}
                <tr id='tr{{ el.id }}'>
                    <form id='{{ el.id }}'>
                        <td>{{ el.id }}</td>
                        <input type="hidden" name="user_id" id="user_id" value='{{ el.id }}' id="minput"/>
                        <td><input type="text" class="form-control" name="fio" id="fio" placeholder="Введите ФИО"
                                   value='{{ el.fio }}'>
                        </td>
                        <td>
                            {% if el.type == 0 %}
                                Администратор
                            {% elif el.type == 1 %}
                                Преподаватель
                            {% elif el.type == 2 %}
                                Студент
                            {% endif %}
                        </td>
                        <td>

                            {#Кнопки редактирования#}
                            <button type="button" class="btn btn-danger" onclick="delete_user(this.form)">Удалить
                            </button>
                            <button class="btn btn-success" onclick="edit_user(this.form);">Сохранить</button>
                        </td>
                    </form>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}


{#Контент учителя и студента#}
{% block user %}
    <div class="container">
        <table class="table table-striped table-sm">
            <thead>

            {#Заголовки таблицы#}
            <tr>
                <th>#</th>
                <th>Имя пользователя</th>
                <th>Тип пользователя</th>
            </tr>
            </thead>
            <tbody>
            {% for el in data %}
                <tr>
                    <form id='form{{ el.id }}'>
                        <td>{{ el.id }}</td>
                        <td>
                            {{ el.fio }}
                        </td>
                        <td>
                            {% if el.type == 0 %}
                                Администратор
                            {% elif el.type == 1 %}
                                Преподаватель
                            {% elif el.type == 2 %}
                                Студент
                            {% endif %}
                        </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
